*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* regola width 80% */
.width{
  width: 80%;
}

/* regola margin right/bottom/left */
.margin{
  margin: 0 10% 3% 10%;
}

/* regola margin right/left */
.marginrl{
  margin: 0 10% 0 10%;
}

/* regola padding */
.padding{
  padding: 3%;
}

/* regola radius/shadow */
.box-effect{
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(51,71,91,0.12);
}

/* regola clearfix */
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* regola float left */
.float-left{
  float: left;
}

/* menu superiore */
.header-strip{
  height: 80px;
  background-color: #F5F8FA;
  border-bottom: 1px solid #cbd6e2;
}

/* menu inferiore */
.header-menu{
  height: 80px;
  background-color: #fff;
}

/* banner */
.header-banner{
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
}

.header-bottom-strip{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  background-color: #AFEBE4;
  border-top: 3px solid #33475C;
  border-bottom: 3px solid #33475C;
}

/* prima sezione del main */
.container1{
  height: auto;
  background-color: rgb(245, 248, 250);
}

.cube{
  height: 200px;
  background-color: white;
}

.crm-hub{
  height: 200px;
  background-color: white;
}

.marketing-hub{
  width: 30%;
  height: 400px;
  background-color: white;
}

.sales-hub{
  width: 30%;
  height: 400px;
  margin: 0 5% 3% 5%;
  background-color: white;
}

.service-hub{
  width: 30%;
  height: 400px;
  background-color: white;
}

/* seconda sezione del main */
.container2{
  height: auto;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.information{
  height: 200px;
  background-color: white;
}

.block-information{
  padding: 30px;
  width: calc(100%/4);
  background-color: white;
}

.list-information-top div:last-child{
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.list-information-top div:nth-child(-n+3){
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: black;
}

.list-information-bottom div:nth-child(-n+3){
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: black;
}
